@import url('https://fonts.googleapis.com/css?family=Cabin:400,500i,700&display=swap');

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ffbf00;
    width: 100%;
    height: auto;
    font-family: "Cabin", sans-serif;
  }
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1 {
    font-weight: 700;

  }
  a {
    font-weight: 700;
    font-size: 1.5rem;
    color: inherit;
    margin-bottom: 1.5rem;
  }


  .menu {
    height: 200px;
  }
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0 auto;
    padding: 75px 0px 75px 0px;
  }
  .container div {
    transform: translateY(0px);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 30px 30px 30px -39px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 30px 30px 30px -39px rgba(0, 0, 0, 0.75);
    box-shadow: 30px 30px 30px -39px rgba(0, 0, 0, 0.75);
  }
  .container div:hover {
    animation: hover 0.5s ease;
    transform: translateY(-20px);
    cursor: pointer;
  }

  .container div:hover:nth-child() {
    -webkit-box-shadow: 0px 0px 90px -39px rgba(40, 101, 233, 0.75);
    -moz-box-shadow: 0px 0px 90px -39px (40, 101, 233, 0.75);
    box-shadow: 0px 0px 90px -39px (40, 101, 233, 0.75);
  }

  .small-img {
    width: 275px;
    height: 70%;
    object-fit: cover;
    background-size: cover;
  }

  div .small-img {
    margin: auto;
  }
  .title {
    width: 275px;
    margin: auto;
  }
  .title:hover {
    text-decoration: underline;
  }

  /*----------------------------------------------------IMAGENES----------------------------------------------------*/ 

  .div1 {
    height: 325px;
    width: 325px;
    background: rgb(236, 232, 223);
    margin: 0 auto;
  }
  .div2 {
    height: 325px;
    width: 325px;
    background: rgb(236, 232, 223);
    margin: 0 auto;
  }
  .div3 {
    height: 325px;
    width: 325px;
    background: rgb(236, 232, 223);
    margin: 0 auto;
  }
  .div4 {
    height: 325px;
    width: 325px;
    background: rgb(236, 232, 223);
    margin: 0 auto;
  }
  .div5 {
    height: 325px;
    width: 325px;
    background: rgb(236, 232, 223);
    margin: auto;
  }
  
  .div6 {
    height: 325px;
    width: 325px;
    background: rgb(236, 232, 223);
    margin: auto;
  }
  .div7 {
    height: 325px;
    width: 325px;
    background: rgb(236, 232, 223);
    margin: auto;
  }
  .div8 {
    height: 325px;
    width: 325px;
    background: rgb(236, 232, 223);
    margin: auto;
  }
  .div9 {
    height: 325px;
    width: 325px;
    background: rgb(236, 232, 223);
    margin: 0 auto;
  }
  .div10 {
    height: 325px;
    width: 325px;
    background: rgb(236, 232, 223);
    margin: 0 auto;
  }
  .div11 {
    height: 325px;
    width: 325px;
    background: rgb(236, 232, 223);
    margin: 0 auto;
  }
  .div12 {
    height: 325px;
    width: 325px;
    background: rgb(236, 232, 223);
    margin: 0 auto;
  }
  
  /*----------------------------------------------------NAV----------------------------------------------------*/ 

  nav,
  ul,
  li,
  a {
    text-decoration: none;
    list-style: none;
  }
  .nav2 {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
  .nav2 > ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 75px;
    flex-wrap: wrap;
  }
  .nav2-links {
    font-family: "Cabin", sans-serif;
    color: black;
    font-weight: 600;
    padding: 0 25px 0 25px;
  }
  .nav2 > ul > li:nth-child(even) {
    border-right: 1px solid black;
    border-left: 1px solid black;
  }
  .logo-text {
    display: flex;
    align-items: center;
    font-size: 30px;
  }


  /*------------------------------------------------FOOTER-------------------------------------------------------*/

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-template-rows: 1fr;
    height: 200px;
    background: rgb(36, 36, 36);
  }

  .wrapper div {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
  }

  .one {
    grid-column: 1 / 2;
    grid-row: 1;
    margin-left: 100px;
    color:antiquewhite
  }

  .one h1 {
    font-size: 30px;
  }

  .one p {
    margin-top: 10px;
    margin-bottom: 10px;
  }



  .reversemail{
	  unicode-bidi: bidi-override;
    direction: rtl;
    color: antiquewhite;
  }


  .three {
    grid-column: 2 / 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-right: 100px;
  }

  .fab {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: antiquewhite;
    margin-bottom: 25px;
  }

  .fab p {
    margin-left: 20px;
    font-family: "Cabin", sans-serif;
  }



  @media (min-width: 320px) and (max-width: 480px) {

    .wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
      grid-template-rows: 1fr 1fr;
      height: 400px;
      background: rgb(36, 36, 36);
    }
  
    .wrapper div {
      margin-top: 20px;
      margin-bottom: 10px;
      text-align: center;
    }
  
    .one {
      grid-column: 1 / 1;
      grid-row: 1;
      color:antiquewhite;
      margin-left: 0px;
    }
  
    .one h1 {
      font-size: 30px;
    }
  
    .one p {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
  
  
    .reversemail{
      unicode-bidi: bidi-override;
      direction: rtl;
      color: antiquewhite;
    }
  
  
    .three {
      grid-column: 1;
      grid-row: 2;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      margin-right: 0px;
    }
  
    .fab {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      color: antiquewhite;
      margin-bottom: 25px;
    }
  
    .fab p {
      margin-left: 20px;
      font-family: "Cabin", sans-serif;
    }
  

  }


  @media (min-width: 481px) and (max-width: 767px) {

    
    .wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
      grid-template-rows: 1fr 1fr;
      height: 400px;
      background: rgb(36, 36, 36);
    }
  
    .wrapper div {
      margin-top: 20px;
      margin-bottom: 10px;
      text-align: center;
    }
  
    .one {
      grid-column: 1 / 1;
      grid-row: 1;
      color:antiquewhite;
      margin-left: 0px;
    }
  
    .one h1 {
      font-size: 30px;
    }
  
    .one p {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
  
  
    .reversemail{
      unicode-bidi: bidi-override;
      direction: rtl;
      color: antiquewhite;
    }
  
  
    .three {
      grid-column: 1;
      grid-row: 2;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      margin-right: 0px;
    }
  
    .fab {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      color: antiquewhite;
      margin-bottom: 25px;
    }
  
    .fab p {
      margin-left: 20px;
      font-family: "Cabin", sans-serif;
    }

  }
