@import url('https://fonts.googleapis.com/css?family=Cabin:400,500i,700&display=swap');


/*---------------------------------------TITULO -------------------------------------------------------*/


.title{
  text-align: center;
  align-content: center;
}


.h1 {
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  display: inline-block;
}

/*---------------------------------------SECCIONES -------------------------------------------------------*/


  
  :after, :before {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    background: #ffbf00;
    font-family: "Cabin", sans-serif;
    padding: 80px;
  }
  
  .articles {
    margin: 16px auto 40px;
    display: grid;
    grid-row-gap: 56px;
    grid-column-gap: 48px;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    justify-items: center;
  }
  
  .articles__article {
    cursor: pointer;
    display: block;
    position: relative;
    perspective: 1000px;
    animation-name: animateIn;
    animation-duration: .35s;
    animation-delay: 100ms;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }
  
  .articles__article:before {
    content: "";
    position: absolute;
    top: -16px;
    left: -16px;
    border: 2px dashed #fff;
    background-image: repeating-linear-gradient(-24deg,transparent,transparent 4px,rgba(255,255,255,.5) 0, rgba(255,255,255,.5) 5px);
    z-index: -1;
  }
  
  .articles__article,
  .articles__article:before {
    width: 280px;
    height: 280px;
  }
  
  .articles__link {
    background-color: #ffbf00;
    border: 2px solid #fff;
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .articles__link:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 24px;
    width: 16px;
    height:16px;
    margin-top: -8px;
    clip-path: polygon(75% 0,100% 50%,75% 100%,0 100%,25% 50%,0 0);
    -webkit-clip-path: polygon(75% 0,100% 50%,75% 100%,0 100%,25% 50%,0 0);
    background-color: #fff;
    opacity: 0;
    transition: opacity .5s ease-in,transform .3s ease-in-out 0ms;
  }
  
  .articles__content {
    background-color: #fff;
    color: #1a1a1a;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 16px;
    display: flex;
    flex-direction: column;
    border: 2px solid #fff;
  }
  
  .articles__content--lhs {
    clip-path: polygon(0 0,51% 0,51% 100%,0 100%);
    -webkit-clip-path: polygon(0 0,51% 0,51% 100%,0 100%);
  }
  
  .articles__content--rhs {
    clip-path: polygon(50% 0,100% 0,100% 100%,50% 100%);
    -webkit-clip-path: polygon(50% 0,100% 0,100% 100%,50% 100%);
    transition: transform .5s ease-in-out,background-color .4s ease-in-out;
  }
  
  .articles__title {
    font-size: 32px;
    line-height: 1.125;
    font-weight: 500;
    letter-spacing: -.02em;
  }
  
  .articles__footer {
    margin-top: auto;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
  }
  
  .articles__link:hover .articles__content--rhs {
    background-color: #f5f5f5;
    transform: rotateY(-50deg);
  }
  
  .articles__link:hover:after {
    opacity: 1;
    transform: translateX(12px);
    transition: opacity .5s ease-in,transform .3s ease-in-out .25s;
  }